doctype html
html(lang="es")
	head
		title Greade Slider
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="css/styles.css")
		// estilos solo de muestra
		style.
			.gs-container-slider {
				max-width: 100%;
			}

			.gs-wrapper-content img {
				margin-left:auto;
				margin-right:auto;
				max-width: 100%;
				max-height: 100%;
				display:block;
			}

			#example1 {
				margin-left:auto;
				margin-right:auto;
				width: 1280px;
			}

			h2 {
				text-align:center
			}

			.botones button {
				padding:10px;
				border:1px solid #c0c0c0;
				border-radius: 2px;
				background-color: #e7e7e7;
				transition: all .1s linear;
				font-size: 15px;
			}

			.botones button:hover {
				cursor:pointer
			}

			.botones button:active {
				background-color: #555555;
				border-color:#555555;
				color: #fff;
			}

			#go {
				margin-right: 20px
			}

			#prev, #stop {
				margin-right: 10px
			}

			#play {
				margin-right: 2px
			}

			#active, #next {
				margin-right: 5px
			}

			.botones {
				text-align:center;
				margin-top:20px;
			}
	body

		h2 Slider Swipe
		#example1.gs-container-slider

			.gs-container-items
				ul.gs-wrapper-items
					- for (var i = 1; i <= 15; i++)
						li.gs-item-slider
							.gs-wrapper-content
								//img(data-lazy="img/naturaleza/720/" + i + ".jpg", data-lazyfs="img/naturaleza/1080/" + i + ".jpg", alt="Text").gs-lazy
								img(data-lazy="img/naturaleza/diferentes/" + i + ".jpg", alt="Text").gs-lazy
							
			.gs-container-navs
				.gs-wrapper-arrows
					button.gs-arrow-nav.gs-prev-arrow.gs-style-prev Prev
					button.gs-arrow-nav.gs-next-arrow.gs-style-next Next
				.gs-wrapper-bullets.gs-style-bullets
					button.gs-bullet

			button.gs-fs Full Screen

		.botones
			button#active el Activo
			button#go ir al item 5
			button#prev &#60; Prev
			button#play Play
			button#stop Stop
			button#next Next &#62;
			button#fs Full Screen

		//h2 Slider Swipe Video
		//#example2.gs-container-slider(style="margin-left:auto;margin-right:auto;width: 850px")
			.gs-container-items
				ul.gs-wrapper-items

					li.gs-item-slider
						img(data-lazy="img/paisajes/1.jpg", alt="Text", style="width: 100%").gs-lazy

					li.gs-item-slider
						video(width="100%", data-lazy="videos/devstories.mp4").gs-lazy

					li.gs-item-slider
						video(width="100%").gs-lazy
							source(data-lazy="videos/big_buck_bunny.mp4", type="video/mp4")
							source(data-lazy="videos/big_buck_bunny.ogg", type="video/ogg")
							source(data-lazy="videos/big_buck_bunny.webm", type="video/webm")
							| Your browser doesn't support HTML5 video tag.

					li.gs-item-slider
						iframe(width="100%", height="478px", data-lazy="https://www.youtube.com/watch?v=hW9PUzl7j9w&t=13s&rel=0&showinfo=0&iv_load_policy=3", frameborder="0", allowfullscreen).gs-lazy

					li.gs-item-slider
						iframe(width="100%", height="478px", data-lazy="https://vimeo.com/270221211#&autoplay=1", frameborder="0", allowfullscreen).gs-lazy#algo

			.gs-container-navs
				.gs-wrapper-arrows
					button.gs-arrow-nav.gs-prev-arrow.gs-style-prev Prev
					button.gs-arrow-nav.gs-next-arrow.gs-style-next Next
				.gs-wrapper-bullets.gs-style-bullets
					button.gs-bullet

		script(src="js/lib/jquery-3.3.1.min.js")
		script(src="js/plugin/greatslider.jquery.js")
		script(src="js/main.js")