doctype html
html(lang="es")
	head
		title Greade Slider
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="css/styles.css")
		// estilos solo de muestra
		style.
			#breakpoints, #bpsimples {
				margin-left:auto;
				margin-right:auto;
			}

			.gs-container-items {
				background-color: #F6F6F6;
			}

			#bpsimples {
				max-width: 1024px;
			}

			.gs-container-slider {
				max-width: 100%;
			}

			.gs-wrapper-content img {
				display :block;
			}

			/*
			.gs-wrapper-content img {
				margin-left:auto;
				margin-right:auto;
				max-width: 100%;
				max-height: 100%;
				display:block;
			}
			*/

			h2 {
				text-align:center
			}

			.botones button {
				padding:10px;
				border:1px solid #c0c0c0;
				border-radius: 2px;
				background-color: #e7e7e7;
				transition: all .1s linear;
				font-size: 15px;
			}

			.botones button:hover {
				cursor:pointer
			}

			.botones button:active {
				background-color: #555555;
				border-color:#555555;
				color: #fff;
			}

			.go {
				margin-right: 20px
			}

			.prev, .stop {
				margin-right: 10px
			}

			.play {
				margin-right: 2px
			}

			.active, .next {
				margin-right: 5px
			}

			.botones {
				text-align:center;
				margin-top:20px;
			}

			#sliderroto {
				max-width: 800px;
					margin-right: auto;
				margin-left: auto;
			}

			/* Estilos para los testimonios */
			.lostestimonios {
				width: 100%;
				max-width: 700px;
				padding: 20px;
				margin-right: auto;
				margin-left: auto;
			}

			.lostestimonios .gs-container-navs {
				margin-top: 10px;
			}

			.lostestimonios .gs-container-items {
				background-color: #fff;
			}

			.lostestimonios .gs-wrapper-bullets {
				display:flex;
				justify-content: center;
				align-items: center;
			}

			.lostestimonios .gs-wrapper-bullets .gs-bullet {
				width: 15px;
				height: 15px;
				background-color: #c0c0c0;
				border-radius: 50%;
				margin-right: 7px;
			}

			.lostestimonios .gs-wrapper-bullets .gs-bullet:hover {
				cursor: pointer;
			}

			.lostestimonios .gs-wrapper-bullets .gs-bullet.gs-bullet-active {
				background-color: #DFAA57;
			}

			.lostestimonios .gs-wrapper-bullets .gs-bullet:last-child {
				margin-right: 0;
			}

			.testimonio {
				padding:0 40px;
				position: relative;
			}

			.testimonio:before, .testimonio:after {
				content: "";
				width: 22px;
				height: 22px;
				background-image:url('../img/comilla.png');
				background-repeat: no-repeat;
				position: absolute;
			}

			.testimonio:before {
				top:0;
				left:0;
			}

			.testimonio:after {
				bottom:22px;
				right: 0;
				transform: rotate(-180deg)
			}

			.testimonio p {
				text-align: justify;
				line-height: 1.5;
				font-family: "calibri";
				font-size: 15px;
				margin-top: 0;
				margin-bottom: 10px;
				text-align-last: center;
			}

			.testimonio p:last-child {
				margin-bottom: 0;
			}

			.autor {
				margin-top: 15px;
				display: block;
				text-align: left;
				font-weight: bold;
				color: #DFAA57;
			}

			/* Slider de fotos */
			#fotos, #fotoswipe, #fotosb {	
				max-width: 1000px;
				margin-left: auto;
				margin-right: auto;
			}

			.img-slider {
				width: 100%;
			}

			/* Slider de fotos no uniformes */

			#fotosc {
				max-width: 1000px;
				margin-left: auto;
				margin-right: auto;
			}

			#videos, #fotosdata {
				max-width: 850px;
				margin-left: auto;
				margin-right: auto;
			}

			#videos video, #videos iframe{
				width: 100%;
			}

			#videos .gs-wrapper-content {
				width: 100%;
			}

			#fotosdata {
				max-width: 1200px;
			}

			#fsBtn {
				margin-top: 15px;
				margin-left: auto;
				margin-right: auto;
				display:block;
				width: 100px;
				height: 45px;
			}

			#autodestroy:not(.gs-builded) {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			#autodestroy:not(.gs-builded) .img-slider {
				width: 396px;
			}

			#fotoswipe2 {
				width: 1600px;
				margin-left: auto;
				margin-right: auto;
			}

			#fotoswipe2 > .gs-container-navs .gs-wrapper-bullets {
				bottom: -50px;
			}

			#fotoswipe2 > .gs-container-items > .gs-wrapper-items > .gs-item-slider{
				padding:0 50px;
			}

			.gs-slider {
				width: 100%;
			}

	body

		h2 Slider Swipe de testimonios
		.lostestimonios.gs-container-slider

			.testimonio
				.parrafos
					p Ruddy y Andrés hicieron un excelente trabajo. Siempre muy atentos y dispuestos en atender todas nuestras peticiones y requerimientos antes y después de haber comprado el apartamento. Nos ayudaron a negociar un mejor precio. Sin duda alguna los volvería a contactar para comprar cualquier otra propiedad.
				a(href="http://www.google.com.pe").autor RFDAYANA

			.testimonio
				.parrafos
					p muy agradecidos con Ruddy y Andrés por toda la ayuda que nos dieron para la compra de una propiedad en Miami. Nos guiaron y apoyaron en el proceso de negociación de principio a fin, al tiempo que fueron muy pacientes y estuvieron siempre disponibles a contestar nuestras dudas. Lograron darnos confianza y hacer todo el proceso más simple. Son personas extremadamente profesionales, con excelente conocimiento del mercado local y con una red de contactos que hacen que el proceso de compra sea más ágil y eficiente. Por último, solo podemos decir que son personas con una gran calidad humana y por lo tanto los recomendamos para cualquier persona interesada en adquirir una propiedad en la Florida.
				a(href="http://www.google.com.pe").autor AHNY

			.testimonio
				.parrafos
					p Ruddy y Andrés son el tipo de agentes de bienes raíces que realmente te escuchan, entienden fácilmente lo que necesitas, son agente de bienes raíces a tiempo completo, siempre dispuestos a ayudar, con un verdadero compromiso de hacer una transacción sin problemas para todas las partes, ellos tienen las habilidades de negociación necesarias para representarme como un cliente feliz, ellos siempre contestan el teléfono y solucionan cualquier problema, yo le recomiendo altamente a Ruddy y Andrés a cualquier persona que necesita un agente de bienes raíces.
				a(href="http://www.google.com.pe").autor RFDAYANA

			.testimonio
				.parrafos
					p Trabajar con Ruddy Arévalo ha sido increíble; ella es muy honesta, ingeniosa y creativa, súper rápido para responder a mis preguntas, ella y el hacen un trabajo excepcional, realmente siento que Ruddy es un gran agente y yo la recomiendo para cualquier persona que lo necesite.
				a(href="http://www.google.com.pe").autor XPOSEFASHION1

			.testimonio
				.parrafos
					p Mi esposo y yo nos encontramos en una propiedad de Ruddy y nos conectamos de inmediato ella era amable y escucharon todas mis preocupaciones. Ella era súper profesional y nos ayudo mucho sobre la zona que estábamos buscando! Ella fue muy agradable durante todo nuestro tiempo. Realmente la recomiendo a cualquiera que esté buscando un agente de bienes raíces.
				a(href="http://www.google.com.pe").autor VENZA1970

			.testimonio
				.parrafos
					p En mi experiencia personal trabajar con Andrés Campos fue de vital importancia el asesoramiento y la educación que me brindo al explicarme como funciona el mercado de renta de Bienes Raíces en Miami, el área que mejor me convenía de acuerdo a lo que yo estaba buscando, darme la información para comprobar los datos y las ganancias de acuerdo al valor de mi inversión y el comparable de mercado, tuve un apoyo 100% efectivo en cuanto a videos de las propiedades y datos de comparación de mercado, la negociación fue clave en mi transacción, realmente muy complacido y definitivamente volvería a buscar de su asesoría en una futura compra o venta de Bienes Raíces.
				a(href="http://www.google.com.pe").autor CIFU-RICAR

			.testimonio
				.parrafos
					p Ruddy y Andrés tuvieron una atención personalizada y siempre han estado a nuestra disposición. Nos han ayudado mucho también con la logística, bancos, etc. y con todo el proceso de la compra.
				a(href="http://www.google.com.pe").autor POMA-EUG

		p
		br
		p
		br

		
		h2 Slider Swipe de Fotos uniformes con Full Screen
		#fotoswipe.gs-container-slider
			img(src="img/naturaleza/720/6.jpg").img-slider
			img(src="img/naturaleza/720/7.jpg").img-slider
			img(src="img/naturaleza/720/8.jpg").img-slider
			img(src="img/naturaleza/720/9.jpg").img-slider
			img(src="img/naturaleza/720/10.jpg").img-slider
		button#fsBtn Full Screen
		p
		br
		p
		br

		h2 Slider Fade de Fotos uniformes
		#fotos.gs-container-slider
			img(data-lazy="img/naturaleza/720/1.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/2.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/3.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/4.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/5.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/6.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/7.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/8.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/9.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/10.jpg").img-slider.gs-lazy

		p
		br
		p
		br

		h2 Slider Swipe de Fotos no uniformes
		#fotosb.gs-container-slider
			img(src="img/naturaleza/diferentes/1.jpg").img-slider
			img(src="img/naturaleza/diferentes/3.jpg").img-slider
			img(src="img/naturaleza/diferentes/2.jpg").img-slider
			img(src="img/naturaleza/diferentes/4.jpg").img-slider
			img(src="img/naturaleza/diferentes/5.jpg").img-slider

		p
		br
		p
		br

		h2 Slider Swipe de Fotos uniformes con fullscreen y lazy diferente en fullscreen
		#fotosc.gs-container-slider
			img(data-lazy="img/naturaleza/720/1.jpg", data-lazyfs="img/naturaleza/1080/1.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/2.jpg", data-lazyfs="img/naturaleza/1080/2.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/3.jpg", data-lazyfs="img/naturaleza/1080/3.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/4.jpg", data-lazyfs="img/naturaleza/1080/4.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/5.jpg", data-lazyfs="img/naturaleza/1080/5.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/6.jpg", data-lazyfs="img/naturaleza/1080/6.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/7.jpg", data-lazyfs="img/naturaleza/1080/7.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/8.jpg", data-lazyfs="img/naturaleza/1080/8.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/9.jpg", data-lazyfs="img/naturaleza/1080/9.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/10.jpg", data-lazyfs="img/naturaleza/1080/10.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/11.jpg", data-lazyfs="img/naturaleza/1080/11.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/12.jpg", data-lazyfs="img/naturaleza/1080/12.jpg").img-slider.gs-lazy

		p
		br
		p
		br


		h2 Slider Swipe de foto y Videos
		#videos.gs-container-slider
			img(data-lazy="img/naturaleza/720/1.jpg", alt="Text").gs-lazy.img-slider
			
			video(width="100%", data-lazy="videos/devstories.mp4").gs-lazy

			video(width="100%").gs-lazy
				source(data-lazy="videos/big_buck_bunny.mp4", type="video/mp4")
				source(data-lazy="videos/big_buck_bunny.ogg", type="video/ogg")
				source(data-lazy="videos/big_buck_bunny.webm", type="video/webm")
				| Your browser doesn't support HTML5 video tag.
			
			iframe(width="100%", height="487px", data-lazy="https://www.youtube.com/watch?v=hW9PUzl7j9w&t=13s&rel=0&showinfo=0&iv_load_policy=3", frameborder="0", allowfullscreen).gs-lazy
			
			iframe(width="100%", height="487px", data-lazy="https://vimeo.com/270221211#&autoplay=1", frameborder="0", allowfullscreen).gs-lazy

		p
		br
		p
		br

		h2 Slider Swipe de fotos con breakpoints simples
		#bpsimples.gs-container-slider
			img(data-lazy="img/naturaleza/720/1.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/2.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/3.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/4.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/5.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/6.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/7.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/8.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/9.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/10.jpg").img-slider.gs-lazy

		p
		br
		p
		br

		h2 Slider Swipe de fotos con breakpoints, botones de acción y clicks items Fullscreendores
		#breakpoints.gs-container-slider
			img(data-lazy="img/naturaleza/720/1.jpg", data-lazyfs="img/naturaleza/1080/1.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/2.jpg", data-lazyfs="img/naturaleza/1080/2.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/3.jpg", data-lazyfs="img/naturaleza/1080/3.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/4.jpg", data-lazyfs="img/naturaleza/1080/4.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/5.jpg", data-lazyfs="img/naturaleza/1080/5.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/6.jpg", data-lazyfs="img/naturaleza/1080/6.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/7.jpg", data-lazyfs="img/naturaleza/1080/7.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/8.jpg", data-lazyfs="img/naturaleza/1080/8.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/9.jpg", data-lazyfs="img/naturaleza/1080/9.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/10.jpg", data-lazyfs="img/naturaleza/1080/10.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/11.jpg", data-lazyfs="img/naturaleza/1080/11.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/12.jpg", data-lazyfs="img/naturaleza/1080/12.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/13.jpg", data-lazyfs="img/naturaleza/1080/13.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/14.jpg", data-lazyfs="img/naturaleza/1080/14.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/15.jpg", data-lazyfs="img/naturaleza/1080/15.jpg").img-slider.gs-lazy

		.botones
			button#go.go ir al item 5
			button#prev.prev &#60; Prev
			button#play.play Play
			button#stop.stop Stop
			button#next.next Next &#62;
		p
		br
		p
		br


		h2 Slider Swipe de Fotos uniformes con parametros de configuración en atributo data
		#fotosdata.gs-container-slider(data-gs='{"type": "swipe", "bullets": true, "nav": false, "layout": {"transitionMode": "linear"} }')
			img(src="img/naturaleza/720/1.jpg").img-slider
			img(src="img/naturaleza/720/2.jpg").img-slider
			img(src="img/naturaleza/720/3.jpg").img-slider
			img(src="img/naturaleza/720/4.jpg").img-slider
			img(src="img/naturaleza/720/5.jpg").img-slider

		p
		br
		p
		br

		h2 Slider Swipe de fotos con breakpoints y con auto destrucción (cuando llegue a 1600px de ancho se autodestruirá)
		#autodestroy.gs-container-slider
			img(data-lazy="img/naturaleza/720/1.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/2.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/3.jpg").img-slider.gs-lazy
			img(data-lazy="img/naturaleza/720/4.jpg").img-slider.gs-lazy
		p
		br
		p
		br

		h2 Slider comun con botones al acceso del API 'GS'
		#sliderconapi.gs-container-slider
			img(src="img/naturaleza/720/6.jpg").img-slider
			img(src="img/naturaleza/720/7.jpg").img-slider
			img(src="img/naturaleza/720/8.jpg").img-slider
			img(src="img/naturaleza/720/9.jpg").img-slider
			img(src="img/naturaleza/720/10.jpg").img-slider
			img(src="img/naturaleza/720/11.jpg").img-slider
			img(src="img/naturaleza/720/12.jpg").img-slider
			img(src="img/naturaleza/720/13.jpg").img-slider
		.botones
			button#gob.go ir al item 5
			button#prevb.prev &#60; Prev
			button#playb.play Play
			button#stopb.stop Stop
			button#nextb.next Next &#62;
		p
		br
		p
		br

		h2 Slider con imágenes rotas
		#sliderroto.gs-container-slider
			img(data-lazy="img/naturaleza/720/6.jpg").img-slider.gs-lazy
			img(data-lazy="http://www.undominio.com/imagen-rota.jpg").img-slider.gs-lazy#imagen-rota
			img(data-lazy="img/naturaleza/720/8.jpg").img-slider.gs-lazy

		p
		br
		p
		br

		h2 Slider Swipe con mini sliders dentro
		#fotoswipe2.gs-container-slider

			.gs-container-slider.gs-slider
				img(src="img/naturaleza/720/6.jpg").img-slider
				img(src="img/naturaleza/720/7.jpg").img-slider
				img(src="img/naturaleza/720/8.jpg").img-slider
				img(src="img/naturaleza/720/9.jpg").img-slider
				img(src="img/naturaleza/720/10.jpg").img-slider

			.gs-container-slider.gs-slider
				img(src="img/naturaleza/720/6.jpg").img-slider
				img(src="img/naturaleza/720/7.jpg").img-slider
				img(src="img/naturaleza/720/8.jpg").img-slider
				img(src="img/naturaleza/720/9.jpg").img-slider
				img(src="img/naturaleza/720/10.jpg").img-slider

			.gs-container-slider.gs-slider
				img(src="img/naturaleza/720/6.jpg").img-slider
				img(src="img/naturaleza/720/7.jpg").img-slider
				img(src="img/naturaleza/720/8.jpg").img-slider
				img(src="img/naturaleza/720/9.jpg").img-slider
				img(src="img/naturaleza/720/10.jpg").img-slider

			.gs-container-slider.gs-slider
				img(src="img/naturaleza/720/6.jpg").img-slider
				img(src="img/naturaleza/720/7.jpg").img-slider
				img(src="img/naturaleza/720/8.jpg").img-slider
				img(src="img/naturaleza/720/9.jpg").img-slider
				img(src="img/naturaleza/720/10.jpg").img-slider

			.gs-container-slider.gs-slider
				img(src="img/naturaleza/720/6.jpg").img-slider
				img(src="img/naturaleza/720/7.jpg").img-slider
				img(src="img/naturaleza/720/8.jpg").img-slider
				img(src="img/naturaleza/720/9.jpg").img-slider
				img(src="img/naturaleza/720/10.jpg").img-slider

			.gs-container-slider.gs-slider
				img(src="img/naturaleza/720/6.jpg").img-slider
				img(src="img/naturaleza/720/7.jpg").img-slider
				img(src="img/naturaleza/720/8.jpg").img-slider
				img(src="img/naturaleza/720/9.jpg").img-slider
				img(src="img/naturaleza/720/10.jpg").img-slider

			.gs-container-slider.gs-slider
				img(src="img/naturaleza/720/6.jpg").img-slider
				img(src="img/naturaleza/720/7.jpg").img-slider
				img(src="img/naturaleza/720/8.jpg").img-slider
				img(src="img/naturaleza/720/9.jpg").img-slider
				img(src="img/naturaleza/720/10.jpg").img-slider

			.gs-container-slider.gs-slider
				img(src="img/naturaleza/720/6.jpg").img-slider
				img(src="img/naturaleza/720/7.jpg").img-slider
				img(src="img/naturaleza/720/8.jpg").img-slider
				img(src="img/naturaleza/720/9.jpg").img-slider
				img(src="img/naturaleza/720/10.jpg").img-slider

		p
		br
		p
		br
			
		//script(src="js/lib/jquery-2.2.3.min.js")
		script(src="js/lib/jquery-3.3.1.min.js")
		script(src="dist/greatslider.jquery.js")
		script(src="js/main.js")