doctype html
html(lang="es")
	head
		title Greade Slider
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="css/styles.css")
	body

		h2(style="text-align:center") Slider Swipe
		#example1.gs-container-slider(style="margin-left:auto;margin-right:auto;")

			.gs-container-items

				ul.gs-wrapper-items

					li.gs-item-slider
						img(data-lazy="img/paisajes/1.jpg", alt="Text").gs-img-item
					
					li.gs-item-slider
						img(data-lazy="img/paisajes/2.jpg", alt="Text").gs-img-item
					
					li.gs-item-slider
						img(data-lazy="img/paisajes/3.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/4.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/5.jpg", alt="Text").gs-img-item
						
					li.gs-item-slider
						img(data-lazy="img/paisajes/6.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/7.jpg", alt="Text").gs-img-item
						
					li.gs-item-slider
						img(data-lazy="img/paisajes/8.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/9.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/10.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/11.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/12.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/13.jpg", alt="Text").gs-img-item

					li.gs-item-slider
						img(data-lazy="img/paisajes/14.jpg", alt="Text").gs-img-item
		
					li.gs-item-slider
						img(data-lazy="img/paisajes/15.jpg", alt="Text").gs-img-item

			.gs-container-navs

				.gs-wrapper-arrows
					button.gs-arrow-nav.gs-prev-arrow.gs-style-prev Prev
					button.gs-arrow-nav.gs-next-arrow.gs-style-next Next

				.gs-wrapper-bullets.gs-style-bullets
					button.gs-bullet
		.botones(style="text-align:center;margin-top:20px;")
			button#go(style="padding:10px;border:1px solid #c0c0c0;margin-right: 20px") ir al item 5
			button#prev(style="padding:10px;border:1px solid #c0c0c0;margin-right: 10px") &#60; Prev
			button#play(style="padding:10px;border:1px solid #c0c0c0;margin-right: 2px") Play
			button#stop(style="padding:10px;border:1px solid #c0c0c0;margin-right: 10px") Stop
			button#next(style="padding:10px;border:1px solid #c0c0c0;margin-right: 5px") Next &#62;
		script(src="js/lib/jquery-3.3.1.min.js")
		script(src="js/plugin/greatslider.jquery.js")
		script(src="js/main.js")